h1 {
    border-bottom: 4px solid;
    border-color: aqua;
    font-size: 70px;
    margin: 10px;
}
h4 {
    margin: 25px 20px;
}
div.header {
    float: left;
    background-image: url("../img/face-photo.jpg");
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
}
.comment {
    border :solid;
    display: flex;
    border-color: blue;
    padding: 0px;
    font-size : 30px;
}

p.name {
    float: left;
    
    font-size: 40px;
}

p.textbox {
    border-color: black;
    border-bottom: solid;
    display: flex;
    float: right;
    margin-left: 100px;
    font-size: 35px;
    
}
#text-button {
    cursor: pointer;
}
p.textbox-click {
    color: red;
    border-color: red;
    border-bottom: solid;
    display: flex;
    float: right;
    margin-left: 100px;
    font-size: 35px;
}
p.textbox-none {
    color: rgb(165, 165, 165);
    border-color: rgb(165, 165, 165);
    border-bottom: solid;
    display: flex;
    float: right;
    margin-left: 100px;
    font-size: 35px;
}
p {
    margin: 10px 30px;
}